<% content_for :title, "Home" %>
<br/>
<p> Active users : <%= @active_user %> <%= link_to "See active users", users_path(status: "true") %></p>

<p> Inactive users : <%= @inactive_user %> <%= link_to "See inactive users", users_path(status: "false") %></p>

<p>
  <%= button_to "See active users", users_path, params: {status: true}, method: :get %> <br/>
  <%= button_to "See inactive users", users_path, params: {status: false}, method: :get %>
</p>

  <hr/>
  <%= link_to "See all users", users_path %>
  <hr/>
<%= image_tag "spongebob-poster.png",
                  size: "200x200",
                  alt: "image_tag practice",
                  id: "image" %>
      
      <hr/>
      <%= video_tag "bunny.mp4",
                  size: "500x500",
                  
                  controls: true %>


<hr/>
<%= picture_tag "award-fill.svg", "spongebob-poster.png", "icon.png" %>
<hr/>
<%= picture_tag { 
  tag(:source, :srcset => image_path("award-fill.svg"), :media => "(max-width: 600px)") + 
  tag(:source, :srcset => image_path("spongebob-poster.png"), :media => "(max-width: 1000px)") + 
  image_tag("pngtree.jpg", :alt => "Image") } %>

<%= mail_to "vinay.poul@infotech.works", cc: "thepoulvinay@gmail.com", subject: "This is an example email" %>