<p style="color: green"><%= notice %></p>

<% content_for :title, "Users" %>

<h1>Users</h1><hr/><hr/>

<div id="users">
  <% @users.each do |user| %>
    <div id="<%= dom_id user %>">
      <p>
        <strong>User Name:</strong>
        <%= user.first_name %> <%= user.last_name %>
      </p>
      <%= link_to "Show this user", user %>
      <hr/>
    </div>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
