<p style="color: green"><%= notice %></p>

<% content_for :title, "Users" %>

<h1>Users</h1><hr/><hr/>

<div id="users">
  <% @users.each do |user| %>
    <div id="<%= dom_id user %>">
      <p class="font-monospace">
        <strong>User Name:</strong>
        <%= "#{user.first_name} #{user.last_name} ".ljust(25, "_") %>
        <%= link_to "Show this user", user %>
      </p>
      <hr/>
    </div>
  <% end %>
</div>

<%= link_to "New user", new_user_path %> |
<%= link_to "Home", root_path %><hr/><hr/>
<%= link_to "Geocoder", geocoder_path(Geocoder) %> 