
<%= form_with(model: [user, skill]) do |form| %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :rating, style: "display: block" %>
    <%= form.text_field :rating %>
  </div>
  <br/>
  <div>
    <%= form.submit %>
  </div>
<% end %>